# Using tsvttool.py to download statistics
This notebook is an example of usage tsvttool.py. It allows to download TSVT data from [http://stat.customs.ru/unload]().
The script also processes statistics by aggregating and encoding charecter repeating strings with numbers to save some memory. 

Be sure to check all the dependencies needed or run <i>pip install -r requirements.txt</i>. In addition don't forget to download Chrome web-driver to be able to use selenium.

In [1]:
import pandas as pd
import time

from tsvttool import *

In [2]:
downloads = r'C:\Users\###\Downloads' # set your Downloads folder
dest_folder = r'C:\Users\###\Documents\###\reports' # set destination folder to save save statistics

In [16]:
driver = init_driver(downloads, url)

In [17]:
period = time_filters()

Setting filters for time period.
Please, enter the corresponding number to choose one of the options:
1 - download the last available month only
2 - enter time interval manually

        2

Please, enter months or time interval needed in the following form:
M(M).YYYY, M(M).YYYY
or
M(M).YYYY-M(M).YYYY

            1.2018-4.2021

In [18]:
len(list(period.keys()))

40

In [19]:
# downloads, unpacks, processes and saves statistics
for m, month in period.items():
    download_stat(driver, month, downloads)
    move_unzip_rename(m, downloads, dest_folder)
    df = dbf_to_csv(dest_folder)
    df = prepare_stat(df, dest_folder)
    df = add_info_aggregate(df, dest_folder)
    df = encode_labels(df, dest_folder)
    upload_to_file(df, r'C:\Users\###\Documents\###\reports') # enter the folder where the storage file is located
    upload_to_sqlite3(df, r'C:\Users\###\Documents\###\reports') # enter the folder with sqlite3 database
#     time.sleep(30) # don't forget to uncomment if you're downloading many months at once
    
driver.close()

In [13]:
df = pd.read_csv(r'C:\Users\###\Documents\###\reports\TSVTdata.csv')

In [15]:
df.head()

,period,napr,strana,tnved,Stoim,Netto,Kol,country_groups,branch,n_digits
0,138,1,1,0702000005,66396.36,74030.00,0.00,0,0,10
1,138,1,1,0810100000,147076.35,72846.00,0.00,0,0,10
2,138,1,1,2204109801,266922.83,216310.38,99836.25,0,0,10
3,138,1,1,2204219400,36107.05,18667.20,11667.00,0,0,10
4,138,1,1,2204219500,10395.16,6653.00,4158.00,0,0,10